
<%= render :partial => 'blogs/intro' %>

 
<!-- First question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    Can you briefly describe the history of the Ruby on Rails community in Melbourne? What were your first challenges and failures in the past?
    </h2>
  
    <hr>

    <div class="col-lg-8 col-lg-offset-2"> 
      <br>
        <p>
        There’s been Ruby/Rails meets in Melbourne for about ten years now. I started attending within that first year, having been introduced to Rails by a friend, and I was keen to learn more. Back then, there was maybe a dozen of us, and maybe only one or two actually used Ruby or Rails in their jobs.
        </p>

        <p>
        Over the years it’s grown, and now we have around 100 people attending our meets, and the majority are paid to work with Ruby. Many Melbourne Rubyists have been hosts, and currently it’s Mario Visic and I who take care of that.
        </p>

        <p>
        I’m not sure about failures, but I think we face many challenges that the technology industry faces generally - in particular, how dominated it is by white men. I’m aware we still have a long way to go, but I’m very glad that we now have a growing number of women attending. There are also challenges with ensuring we have events that appeal to all levels of Ruby experience, that we have a good mix of food to cater for all dietary requirements (and enough to feed everyone!), and that we are actively welcoming people into the community, helping them become established Rubyists.
        </p>

        <p>
        These are all things that I think we’re getting better at, but there’s plenty of room for improvement.
        </p>
    </div>
  </div>
</section>
    
<!-- Second question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    Ruby Nights, Hack Nights, Installfests are all Ruby meet-ups that happen in Melbourne. What are the differences between them, and why this structure? How many people usually attend each of these kinds of meet-ups?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br>
        <p>               
			  The main event - Melbourne Ruby, or the Presentations event - is what has existed since the beginning. It’s a night where we have a few speakers present on topics related to Ruby or programming generally, and then there’s plenty of socialising before and after. These days, we’ll get 80-100 people attending.
        </p>
               
        <p>
        Our Hack Nights have only been around for about 18 months, and these events are an opportunity for people to sit down and work on some code - and if they get stuck on something, they’re surrounded by other developers who can help. It’s a great event for both beginners and experienced developers. This is a smaller event, with around 30 people each month.
        </p>
               
        <p>
        InstallFests are something that the great team at reinteractive have helped bring to Melbourne - it’s an event where beginners work through installing Ruby and Rails and building a basic blogging app for the first time. There are mentors on hand to help when anyone hits a bug or doesn’t understand something.
        </p>

        <p>
        All of these events seek to connect the community - through conversations and sharing skills - and also to provide opportunities to work on Ruby code and receive help when needed.
        </p>
    </div>
  </div>
</section>

<!-- First photo -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-offset-2">
     	<div class="thumbnail">
			      <%= image_tag("Pat_6.jpg", width: '1200') %>
			    <div class="caption">
			      <br>
			      <p>
            Melbourne Ruby, Hack Nights and Installfests, all of these events seek to connect the community"
            </p>
			    </div>
		  </div> 
	  </div>	
	</div>
</section>

<!-- Third question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    How many members does the local community in Melbourne have? How many members are there in the whole of Australia?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>
      This is hard to know for sure, but <a href="http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/">Meetup</a> says we have almost a thousand people that are part of the group, so that’s probably a good but certainly rough number to start with. Perhaps Australia has a few thousand people? But there are different levels of engagement - some people have attended a single event, some go to as many as they possibly can. 
      </p>
               
      <p>
      The <a href="http://www.railscamps.com">Rails Camps</a> usually attract 100-150 people twice a year, and <a href="http://rubyconf.org.au/2015">RubyConf AU</a> is around 500 people. Not everyone can make it to those events, though… so maybe there’s at least a thousand active Rubyists in Australia?
      </p>              
    </div>
  </div>
</section>

<!-- Second photo -->
<section id="about" class="container content-section text-center">
  <div class="row">
   	<div class="thumbnail">
		    <%= image_tag("Inspire9.jpg", width: '1200') %>
	    <div class="caption">
	      <p>
        Massive turnout for Melbourne Ruby presentations at co-working place Inspire9 from  28 may 2015
        </p>
			</div>
		</div>     
  </div>
</section>

<!-- Fourth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    Is Ruby more popular in Melbourne in comparison with other programming languages?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>
      There’s certainly an active community around Ruby in Melbourne, but I’m sure other mainstream languages are more popular, if you’re measuring by the number of developers. There would be more Java developers - and probably .NET - in Melbourne than Rubyists.
      </p>                                 
    </div>
  </div>
</section>

<!-- Fifth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    Can you see any movement away from Ruby towards the other languages? What other languages are developers are looking at?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>
      While some people are moving away from Ruby, I’d say there’s more people coming into the community - it’s still growing, overall. And many established Rubyists are learning new languages as well - Go is particularly popular, and I also hear some good things about Rust and Elixir.
      </p>
  
      <p>
	    Rubyists are often people who are keen to learn new things - many of us chose to learn Ruby, and now many are choosing to learn other things as well.
      </p>                                 
    </div>
  </div>
</section>

<!-- Sixth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    I know that it's not easy to say, but would it be possible to introduce the top developers (except for yourself, of course) from the local community to our readers?
    </h2>
    <hr>
               
      <div class="col-lg-8 col-lg-offset-2"> 
        <br> 
        <p>
        Oh, this is hard! There are so many great developers in Melbourne - here’s a few names that people may be familiar with: 
        <a href="https://twitter.com/notahat">Pete Yandell</a> (creator of Machinist), 
        <a href="https://twitter.com/justinfrench">Justin French</a> (creator of Formtastic), 
        <a href="https://twitter.com/ryanbigg">Ryan Bigg</a>, 
        <a href="https://twitter.com/Sutto">Darcy Laycock</a>, 
        <a href="https://twitter.com/johnbarton">John Barton</a>, 
        <a href="https://twitter.com/shevauncoker">Shevaun Coker</a>, 
        <a href="https://twitter.com/mariovisic">Mario Visic</a>, and 
        <a href="https://twitter.com/toolmantim">Tim Lucas</a>. 
        This is just the tip of the iceberg though (and I hope the many friends who I’ve not listed here forgive me).
        </p>
      </div>
  </div>
</section>

<!-- Third photo -->
<section id="about" class="container content-section text-center">
  <div class="row">
   	<div class="thumbnail">
			   <%= image_tag("Trampoline.jpg", width: '1200') %>
  	  <div class="caption">
			  <p>
        Trampoline day. Pat is preparing big schedule of the event
        </p>
			</div>
		</div>     
  </div>
</section>


<!-- Seventh question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    I think that many Slovak developers would be aware of your gem "Thinking Sphinx". Personally, our company uses this gem in our project. Why did you decide to create this gem, instead of using other ones? Is search a personal interest of yours?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>
      I wrote the first version of Thinking Sphinx over seven years ago - back then, Sphinx was one of the more popular search tools, but I felt the existing gems that integrated with it weren’t as elegant as they could be, so I spent a weekend writing Thinking Sphinx.
      </p>

      <p>
			Of course, I didn’t really understand Sphinx then, so I had to rewrite it several months later, and since then it’s evolved, had features added, and many bugs fixed. The first version was written to support Rails 1, and just the other week I made a patch to support Rails 4.2 - it’s come a long way!
      </p>
        
      <p>
      I’ve had to learn some broader concepts about search over the years - I wouldn’t say it’s been a personal interest of mine, and I don’t consider myself an expert in search! My interest has more been around how to write Ruby gems well, and how to integrate with other tools in a solid manner.
      </p>	                                 
    </div>
  </div>
</section>

<!-- Eigth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    What is your latest Ruby project?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>             
		  I’ll often open source gems that I abstract out of client work for Inspire9 - they’re usually small things, nothing like Thinking Sphinx (which is about 4.5k lines of code, and 7.3k lines of test code). The most recent one I’m enjoying working with is Sliver, which I built for object-oriented Rack APIs:
		  <a href="https://github.com/pat/sliver">Github.com/pat/sliver</a>
      </p>
    
      <p>
			It’s not perfect, but I like the fact that I can use object-oriented principles within my APIs far more easily than, say, Grape, or even Rails. At the very least, it gets me thinking about better ways of structuring my code.
      </p>                                  
    </div>
  </div>
</section>

<!-- Fourth photo -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-offset-2">
     	<div class="thumbnail">
			   <%= image_tag("Pat_5.png", width: '1200') %>
   		  <div class="caption">
			    <p>
          Enjoying working on latest Ruby project named Sliver which Pat built for object-oriented Rack APIs
          </p>
			  </div>
			</div> 
		</div>	
	</div>
</section>

<!-- Ninth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    What about your other activities like <a href="http://trampolineday.com">"Trampoline"</a> or <a href="http://freelancing-gods.com">"freelancing-gods.com”</a>?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>             
			<a href="http://trampolineday.com">Trampoline</a> is an event I co-founded with some good friends of mine - <a href="https://twitter.com/melinachan">Melina Chan</a> and <a href="https://twitter.com/stevehopkins">Steve Hopkins</a> - and it’s a day where we bring together a fantastic mix of people to share their ideas, stories and skills: whatever they think is amazing.
      </p>
      
      <p>
      We’ve had teachers, doctors, athletes, musicians, public servants and yes, developers all attend, and we’ve heard topics from how the internet works, to lessons on how to juggle and beat-box, to how to make perfume, to improv comedy, to intergenerational learning, to swimming the English Channel. We don’t hand-pick any speakers - it’s an unconference (much like Barcamps) so the schedule is defined on the day by whoever wants to present.
			</p>
			
      <p>
			And my blog is, well, just my blog. The domain name was never about myself - I liked the idea of gods freelancing for each other - and it’s just a place for me to share my thoughts, whether they be about code, or Melbourne, or comedy, or politics!	
			</p>                                  
    </div>
  </div>
</section>

<!-- Tenth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    You travel around the world a lot. When I came to Australia, you were about to spend two months in Europe. Do you normally spend (Australian) winter travelling in Europe?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>             
			I’ve done this a few times - I certainly love spending time in Europe, and the northern hemisphere summer is a great time to visit. It’s not something I do every year though - I love being home in Melbourne too! - but yes, it is a common thing for me to do.
      </p>                                        
    </div>
  </div>
</section>

<!-- Fifth photo -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-offset-2">
     	<div class="thumbnail">
			    <%= image_tag("Pat_7.jpg", width: '1200') %>
			  <div class="caption">
			    <p>
          Pat love spending time in Europe and love being home in Melbourne too
          </p>
			  </div>
			</div> 
		</div>	
	</div>
</section>

<!-- Eleventh question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    Slovakia is a small country with a small dev community as well, but do you know personally any Slovak Ruby on Rails developers?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>             
	    I have very likely met some Slovakian Rubists on my journeys, but (embarrassingly) I can’t remember any names. I’m not very good with names, sorry.
      </p>                                        
    </div>
  </div>
</section>

<!-- Twelfth question -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>
    If you are in Europe this summer I would like to officially invite you to visit our local meet-up Rubyslava in Bratislava. I am sure all members would be very excited to see you and speak to you. How does that sound?
    </h2>
    <hr>
               
    <div class="col-lg-8 col-lg-offset-2"> 
      <br> 
      <p>             
		  The next time I’m in Europe I’d love to visit Bratislava! I don’t know if I’ll be over in that part of the world this year though… but certainly, I will keep it in mind for my next trip - thank you for the invite, and for the interview! :)
      </p>                                        
    </div>
  </div>
</section>

<%= render :partial => 'blogs/contact' %>
 

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-offset-2">
     	<div class="thumbnail">
			   <%= image_tag("Pat_4.png", width: '1200') %>
  		  <div class="caption">
			    <p>
          See you soon in Bratislava
          </p>
	  		</div>
		  </div> 
  	</div>	
	</div>
</section>
    







