<!DOCTYPE html>
<html>
<head>
  <title>Interview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<%= render :partial => 'layouts/navigation' %> 

<%= yield %>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>&copy; rg 2015</p>
  </div>
</footer>

</body>
</html>
